//Стили для секции с карточками тарифов

//Стили для оболочки секции с карточками тарифов
.catalog-wrapper {
    text-align: center;

    margin: 50px 0;
    padding: 0 10px;

    height: 100%;

    border: 1px solid $trueWhite;
    border-radius: 15px;

    box-shadow: 0 5px 35px rgba(0,0,0,.5);
}
//Стили для каждой секции с карточками тарифов (настройка заднего фона)
.wrapper-1 {
    background: url(../img/bg-test.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-2 {
    background: url(../img/bg-test2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-3 {
    background: url(../img/bg-test1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper-4 {
    background: url(../img/bg-test4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
//Стили для оболочки карточек тарифов
.catalog {
    display: grid;
    text-align: center;

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;

    @media screen and (min-width:768px) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width:1200px) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}
//Стили для заголовка секции с катрочками тарифов
.catalog__title {
    margin: 10px;
    padding: 20px 0 0;
    color: $trueBlack;
    font-size: 28px;
}
//Стили для оболочки каждой отдельной карточки тарифа
.catalog__item {
    position: relative;
    perspective: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 20px 5px;
    padding: 10px;
    min-width: 300px;
    max-width: 767px;
    min-height: 380px;

    @include smooth;

    @media screen and (min-width:768px) {
        padding: 20px;
    }
    @media screen and (min-width:1200px) {
        padding: 30px;
    }
}
//Стили для оболочки каждой отдельной карточки тарифа при наведении


/////////////////////////////////////////////
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .7s;
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.25);
}

.back {
    transform: rotateY(-180deg);
}

.final .front {
    transform: rotateY(-180deg);
    background: rgba(255,255,255,.9);
    box-shadow: 0 15px 35px rgba(0,0,0,.9);
}

.final .back {
    transform: rotateY(-360deg);
    background: rgba(255,255,255,.9);
    box-shadow: 0 15px 35px rgba(0,0,0,.9);
}
/////////////////////////////////////////////

//Стили для заголовка катрочки тариифа
.catalog__item--heading {
    text-align: center;
    margin: 0 0 20px 0 !important;
}
//Стили для ссылки карточки тарифа
.catalog__item--heading a {
    color: $trueBlack;
    @include smooth;
}
//Стили для ссылки карточки тарифа при наведении
.catalog__item--heading a:hover {
    color: $red;
}
//Стили для оболочки описания преимущества тарифа (отдельная строка)
.description--wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5px 0;
    padding: 5px;
    background-color: rgba($color: $red, $alpha: 0);
    border-radius: 5px;
}
//Стили для текста описания тарифа (размер шрифта)
.description--wrap p {
    font-size: 13px;
}
//Стили для наименования преимущества тарифа
.description--name {
    float: left;
}
//Стили для значения преимущества тарифа
.description--value {
    float: right;
}
//Стили для значения преимущества тарифа
.description--value img{
    width: 20px;
    height: 20px;
}
//Стили для оболочки ссылки "Подробнее о тарифе..."
.description__more {
    text-align: center;
    margin: 10px 0;
}
//Стили для ссылки "Подробнее о тарифе..."
.description__more--link {
    text-decoration: none;
    color: gray;
    font-size: 13.5px;

    @include smooth;
}
//Стили для ссылки "Подробнее о тарифе..." при наведении
.description__more--link:hover {
    color: $red;
}
//Стили для блока с ценой и кнопкой "Подключить" карточки тарифа
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5px;
}
//Стили для цены тарифа
.price__cost {
    font-size: 25px;
    font-weight: 700;
}
//Стили для кнопки "Подключить"
.price__btn {
    color: $trueWhite;
    background: $red;
    width: 54%;
    min-height: 50px;
    border-radius: 10px;
    padding: 0 24px;
    margin: 0 10px;

    @include smooth;
}
//Стили для кнопки "Подключить" при наведении
.price__btn:hover {
    background: red;
    cursor: pointer;
}