.catalog-wrapper {
    text-align: center;

    border: 1px solid red;
    border-radius: 20px;
    margin: 50px 0;

}

.catalog {
    display: grid;
    text-align: center;

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1vw;

    @media screen and (min-width:768px) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width:1200px) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
}

.catalog__title {
    font-size: 28px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid red;
    margin: 20px 0;
    padding: 10px;
    min-width: 300px;
    max-width: 767px;
    background: rgba(255,255,255,.4);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.25);

    @include smooth;

    @media screen and (min-width:768px) {
        padding: 20px;
    }
    @media screen and (min-width:1200px) {
        padding: 30px;
    }
}

.catalog__item:hover {
    background: rgba(255,255,255,.9);
    box-shadow: 0 15px 35px rgba(0,0,0,.9);
}

.catalog__item--heading {
    text-align: center;
    margin: 0 0 20px 0 !important;
}

.catalog__item--heading a {
    color: $trueBlack;
}

.description--wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5px 0;
    padding: 10px;
    background-color: rgba($color: $red, $alpha: 0);
    border-radius: 5px;
}

.description--wrap p {
    font-size: 13px;
}

.description--name {
    float: left;
}

.description--value {
    float: right;
}

.description--value img {
    width: 25px;
    height: 25px;
}

.description__more {
    text-align: center;
    margin: 10px 0;
}

.description__more--link {
    text-decoration: none;
    color: gray;
    font-size: 13.5px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price__cost {
    font-size: 25px;
    font-weight: 700;
}

.price__btn {
    color: $trueWhite;
    background: $red;
    width: 54%;
    min-height: 50px;
    border-radius: 10px;
    padding: 0 24px;
    margin: 0 10px;

    @include smooth;
}

.price__btn:hover {
    background: red;
    cursor: pointer;
}