.form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background: rgba($color: $blue, $alpha: 0.65);
    position: relative;
}

.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba($color: $red, $alpha: 0.65);
}

.form-container {
    position: relative;
    display: flex;
    z-index: 1000;
    min-width: 1100px;
    min-height: 550px;
}

.form-container__contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: $blue;

    z-index: 1;

    padding: 40px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba($color: $trueBlack, $alpha: 0.15);
}

.contactInfo__title {
    font-size: 35px;
    color: $trueWhite;
}

.contactInfo__subtitle {
    font-size: 20px;
    color: $trueWhite;
}

.contactInfo__btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background: $trueWhite;
    font-size: 18px;

    @include smooth;
}

.contactInfo__btn:hover {
    color: $trueWhite;
    background: red;
}

.contactInfo__btn--call {
    color: $trueWhite;
    background: $red;
}

.form-container__contactForm {
    position: absolute;
    padding: 40px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: $trueWhite;
    box-shadow: 0 50px 50px rgba($color: $trueBlack, $alpha: 0.25);
    border-radius: 10px;
}

.form-container__contactForm--title {
    font-size: 34px;
    font-weight: 900;
}

.form-container__contactForm--subtitle {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 300;
}

.form-container__contactForm--box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.inputBox {
    position: relative;
    margin-bottom: 35px;
}

.w50 {
    width: 47%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.inputBox__textarea,
.inputBox__input,
#address {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.inputBox__textarea {
    height: 100px;
}

.inputBox__span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 15px;
    font-weight: 300;

    @include smooth;
}

.inputBox__textarea:focus ~ .inputBox__span,
.inputBox__textarea:valid ~ .inputBox__span,
.inputBox__input:focus ~ .inputBox__span,
.inputBox__input:valid ~ .inputBox__span {
    transform: translateY(-12px);
    color: $red;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.inputBox__input--submit {
    position: relative;
    cursor: pointer;
    color: $trueWhite;
    background: $red;
    border: none;
    border-radius: 5px;
    max-width: 150px;
    padding: 14px;

    @include smooth;
}

.inputBox__input--submit:focus,
.inputBox__input--submit:hover {
    background: red;
}

@media screen and (max-width:1200px) {
    .form-container{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba($color: $trueBlack, $alpha: 0.2);
    }
    .form-container__contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0;
    }
    .form-container__contactForm {
        position: relative;
        box-shadow: none;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        border-radius: 0;
        padding: 40px;
        height: 550px;
    }
    .contactInfo__subtitle {
        font-size: 23px;
    }
    .form-container__contactForm--subtitle {
        font-size: 18px;
    }
    .inputBox__input, 
    .inputBox__textarea {
        font-size: 14px;
    }
}

@media screen and (max-width:991px) {
    .form {
        background: #fff38e;
    }
    .form::before {
        display: none;
    }
    .form-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .form-container__contactInfo {
        width: 100%;
        height: 580px;
    }
    .contactInfo__subtitle {
        font-size: 33px;
    }
    .contactInfo__btn {
        padding: 30px;
    }
    .form-container__contactForm {
        width: 100%;
        height: auto;
    }
    .inputBox__input--submit {
        max-width: none;
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .contactInfo__title {
        font-size: 64px;
    }
    .contactInfo__subtitle {
        font-size: 20px;
    }
    .contactInfo__btn {
        padding: 30px;
    }
}

@media screen and (max-width:600px) {
    .form-container__contactForm {
        padding: 25px;
    }
    .form-container__contactInfo {
        padding: 25px;
    }
    .w50 {
        width: 100%;
    }
    .form-container__contactForm--title {
        font-size: 25px;
    }
    .form-container__contactForm--subtitle {
        font-size: 16px;
    }
    .contactInfo__title {
        font-size: 32px;
    }
    .contactInfo__btn {
        padding: 16px;
        font-size: 15px;
    }
}

@media screen and (max-width:320px) {
    .form-container__contactInfo {
        height: 500px;
    }
    .contactInfo__title {
        font-size: 30px;
    }
    .contactInfo__subtitle {
        font-size: 20px;
    }
    .contactInfo__btn {
        padding: 20px;
        font-size: 14px;
    }
}

.inputBox__span--address {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0;
    pointer-events: none;
    font-size: 15px;
    font-weight: 300;

    @include smooth;
}

#address {
    width: 100%;
}

#address:hover ~ .inputBox__span--address,
#address:focus ~ .inputBox__span--address {
    transform: translateY(-12px);
    color: $red;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}