//Подключение шрифта на страницу
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
//Глобальные стили документа
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
//Стили для первой секции сайта (начальный экран)
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px 100px 200px;
    background: url(../img/mts5g.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;

    z-index: 2;

    @include smooth;
}

@media screen and (max-width:767px) {
    header {
        padding: 20px 50px;
    }
    .banner {
        padding: 100px 50px 150px;
        background: url(../img/MTS_bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 1%;
    }
    .main-content__title {
        font-size: 1.8em;
    }
    .main-content__subtitle,
    .main-content__link {
        font-size: 1em;
    }
    .banner .active {
        transform: translateX(-250px);
    }
    #navigation {
        width: 250px;
    }
    .navigation__list--link{
        font-size: 1.2em;
        margin: 5px 0 0 0;
    }
}